@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Paytone One', sans-serif;
}


/*Trabajamos sobre index.php*/

/*Trabajamos sobre el header*/

header{
	width: 100%;
	background: #fff;
	position: fixed;
    top:0px;
	left: 0px;
    border-bottom: 1px solid black;
	z-index: 100;
}

header .contenedor{
	display: flex;
}

header .contenedor .cajaLogo .cajaImagen p{
    padding: 30px;
    font-size: 20px;
}
header .contenedor .cajaMenu{
	display: flex;

}

header .contenedor .cajaMenu a{
	padding: 30px;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

header .contenedor .cajaMenu a:hover{
	background: #ededed;
	color: black;
}

/*Trabajamos sobre la seccion "Portada"*/
section{
	width:100%;
	margin: auto;
}

section .cajaPortada{
	position: relative;
	
}

section .cajaPortada img{
	width: 100%;
	height: 100%;
}

section .cajaPortada .descripcion{
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 20px;
	
}

section .cajaPortada .descripcion h1{
	font-size: 50px;
	color:#fff;
	margin-bottom: 20px;
	margin-top: 20px;

}

section .cajaPortada .descripcion p{
	font-size: 30px;
	color:#fff;
	margin-bottom: 30px;
}

section .cajaPortada .descripcion a{
	font-size: 20px;
	border: 3px solid #333;
	color:#fff;
	padding: 10px;
	text-decoration: none;
}

section .cajaPortada .descripcion a:hover{
	background: rgba(0,0,0,0.6);
}

/*Trabajamos sobre la seccion "Introduccion*/
section .introduccion{
	width: 100%;
}
section .introduccion h2{
	font-size: 30px;
	margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

section .introduccion p{
	font-size: 20px;
	padding: 30px;
}

/*Trabajamos sobre la seccion "Slider"*/

section .cajaSlider{
	width: 100%;
	margin:auto;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 20px;
}

section .cajaSlider ul{
	width: 300%;
	display: flex;
	list-style: none;
	animation: slider 20s infinite alternate;

}
section .cajaSlider ul li{
	width: 50%;
}
section .cajaSlider ul li .cajaImagen{
	width: 100%;
	height: 400px;
}
section .cajaSlider ul li .cajaImagen img{
	width: 100%;
	height: 100%;
}

@keyframes slider{
	0%{margin-left: 0%;}
	30%{margin-left: 0%;}

	35%{margin-left: -100%;}
	65%{margin-left: -100%;}

	70%{margin-left: -200%;}
	100%{margin-left: -200%;}
}

/*Trabajamos sobre la seccion "Galeria de fotos"*/

section .cajaGaleria{
	text-align: center;
	display: flex;
	flex-direction: column;
}

section .cajaGaleria h3{
    font-size: 30px;
    margin-bottom: 40px;
}

section .cajaGaleria .cajaItems{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
}
section .cajaGaleria .cajaItems .item{
	width: calc( 25% - 10px);
	padding: 20px;
	margin:5px;
	border:1px solid rgba(0,0,0,0.5);

}

section .cajaGaleria .cajaItems .item .cajaImagen{
	position: relative;
}
section .cajaGaleria .cajaItems .item .cajaImagen img{
	width: 100%;
}

section .cajaGaleria .cajaItems .item  .cajaImagen .precio{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	top:0px;
	left: 0px;
	color:#fff;
	font-size: 30px;
	background: rgba(0,0,0,0.6);

}


section .cajaGaleria .cajaItems .item p{
	padding: 10px;
}
/*Trabajamos sobre la section "Mapa"*/

section .cajaMapa{
	width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .cajaMapa h3{
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
	
}

section .cajaMapa p{
	margin-bottom: 30px;
	padding: 40px;
	width: 700px;
}


/*Trabajamos sobre el footer*/

footer{
	width: 100%;
}

footer .cajaInfo{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	color:#fff;
	background: black;
}

footer .cajaInfo p{
	font-size: 30px;
	margin-bottom: 10px;
}

footer .cajaInfo .cajaIconos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: black;
}

footer .cajaInfo .cajaIconos a{
    font-size: 30px;
	text-decoration: none;
	background:black;
	color:white;
	padding: 20px;
}

/*Trabajaremos el responsive designe*/

@media(max-width:480px){
	section .cajaSlider ul li{
		width: 100%;
	}

	section .cajaSlider ul{
		width: 600%;
	}

	@keyframes slider{
	0%{margin-left: 0%;}
	10%{margin-left: 0%;}

	15%{margin-left: -100%}
	25%{margin-left: -100%}

	30%{margin-left: -200%}
	40%{margin-left: -200}

	45%{margin-left: -300%}
	55%{margin-left: -300%}

	60%{margin-left: -400%}
	70%{margin-left: -400%}

	80%{margin-left: -500%}
	100%{margin-left: -500%}
}
	*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    }

	header .contenedor{
		width: 100%;
		display: flex;
		flex-direction: column;

	}

	header .contenedor .cajaLogo{
		width: 100%;
		direction: flex;
		justify-content: center;
		align-items: center;
		margin:auto;
		text-align: center;
		background: rgba(0,0,0,0.8);
	}

	header .contenedor .cajaLogo .cajaImagen{
		width: 100%;
		margin:auto;
	}

	header .contenedor .cajaLogo .cajaImagen p{
		font-size: 12px;
		color: #fff;


	}

	header .contenedor .cajaMenu{
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	header .contenedor .cajaMenu a{
		width: 100%;
		font-size: 9px;
		padding: 7px;
		border-top: 1px solid grey;
		background: #ededed;
	}

	section .cajaPortada{
		width: 100%;
	    margin-top: 120px;
	}

	section .cajaPortada .descripcion{
		width: 100%;
		margin: auto;
		padding-left: 10px;
	}

	section .cajaPortada .descripcion h1{
		font-size: 15px;
		margin-bottom: 0px;
	}

	section .cajaPortada .descripcion p{
		font-size: 10px;
		margin-bottom: 0px;
	}

	section .cajaPortada .descripcion a{
		font-size: 7px;
		padding: 5px;
	}

    section .introduccion{
    	width: 100%;
    	margin:auto;
  
    }

    section .introduccion h2{
    	font-size: 17px;
    }
	section .introduccion p{
		font-size: 12px;
	}

	section .cajaSlider{
		width: 100%;
		height: 200px;
	}

	section .cajaGaleria{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	section .cajaGaleria .cajaItems .item .cajaImagen .precio{
		font-size: 17px;
	}

	section .cajaGaleria h3{
		font-size: 17px;
	}

	section .cajaGaleria .cajaItems{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	section .cajaGaleria .cajaItems .item{
		width: 100%;
	}

	section .cajaMapa{
		width: 300px;
		margin:auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		
	}

	section .cajaMapa  h3{
		font-size: 17px;
	}

	section .cajaMapa p{
		width: 100%;
		font-size: 10px;
	}

	section .cajaMapa iframe{
		width: 100%;
		height: 300px;

		
	}

	footer .cajaInfo{
		width: 100%;
		margin: auto;
	}

	footer .cajaInfo p{
		font-size: 15px;
		margin-top: 5px;
	}
    
    #contacto{
    	margin-top: 140px;
    }

	#contacto .formulario{
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	

	}

	#contacto .formulario h1{
		width: 100%;
		font-size: 20px;
	}

	#contacto .formulario h2{
		width: 100%;
		font-size: 10px;
	}

	#contacto .formulario .item{
		width: 100%;
		margin: auto;
	}

	#contacto .formulario .item label{
		font-size: 10px;
	}

	#contacto .formulario .item input{
		font-size: 15px;
		margin: auto;
		width: 100%;
		
	}

	#contacto .formulario .item #textarea{
		max-width: 100%;
		min-width: 100%;
		max-height: 50px;
		min-height: 50px;
		margin: auto;
		font-size: 15px;
		
	}

	#contacto .formulario .item #buttonEnviar{
		width: 100%;
		font-size: 10px;
	}

    #contacto .formulario .error{
    	width: 100%;
    	font-size: 10px;
    } 

	
}

@media screen and (min-width:768px) and (max-width:1024px) {
    section .cajaPortada .descripcion{
    	margin-top: 15px;
    }

	section .cajaGaleria{
		width: 100%;
	}
	section .cajaGaleria .cajaItems{
		width: 70%;
		display: flex;
		margin: auto;
	}
	section .cajaGaleria .cajaItems .item{
		width: calc(33.33% - 10px);
	}

	#contacto{
    	margin-top: 50px;
    	height: 100%;
    }

    #contacto .formulario{
		width: 70%;
		height: 100%;
		margin: auto;
		display: flex;
	}

	#contacto .formulario h1{
		width: 100%;
		font-size: 30px;
	}

	#contacto .formulario h2{
		width: 100%;
		font-size: 20px;
	}

	#contacto .formulario .item{
		width: 100%;
		margin: auto;
	}

	#contacto .formulario .item label{
		font-size: 15px;

	}

	#contacto .formulario .item input{
		font-size: 15px;
		width: 100%;
		
	}

	#contacto .formulario .item #textarea{
		max-width: 100%;
		min-width: 100%;
	    max-height: 50px;
		min-height: 50px;
		margin: auto;
		font-size: 15px;
		
	}

	#contacto .formulario .item #buttonEnviar{
		width: 100%;
		font-size: 20px;
		margin-top: 35px;
	}

    #contacto .formulario .error{
    	width: 100%;
    	font-size: 20px;
    } 

}


/*Trabajamos sobre la el archivo contacto.php*/

section .formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin: auto;
	background: #ededed;
	color: #333;
	margin:auto;
	margin-bottom: 40px;
	margin-top: 45px;
	text-align: center;
	padding: 40px;
	border-radius: 20px;
	border:1px solid black;
}

section .formulario h1{
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
	box-shadow: 5px 5px 5px 3px grey;
	padding: 15px;
	
}

section .formulario h2{
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

section .formulario .item{
	height: 60px;
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

}

section .formulario .item input{
	height: 70px;
	margin-bottom: 20px;
	font-size: 20px;
}

section .formulario .item label{
	margin-bottom: 10px;
}

section .formulario .item textarea{
	font-size: 20px;
	max-width: 500px;
	min-width: 500px;
	max-height: 400px;
	min-height: 100px;

}

section  .formulario .item #buttonEnviar{
	font-size: 20px;
	margin-top: 60px;
	width: 500px;
	text-align: center;
	padding: 10px;
	background: black;
	color:#fff;
	border:1px solid black;
	border-radius: 10px;

}

section  .formulario .item #buttonEnviar:hover{
    background: #fff;
    color:black;
}

section  .formulario .error{
	color:#fff;
	background: red;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 5px;
	width: 500px;
	height: 40px;
	border: 1px solid black;
}

section  .formulario .mensajeExitoso{
	color:#fff;
	background: green;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 5px;
	width: 500px;
	height: 40px;
	border: 1px solid black;

}

/*Trabajamos sobre el archivo controlProductos.php*/

.headerControl .portada{
	width: 100%;
	background: #333;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.headerControl .portada .cajaLogo{
	display: flex;
	position: relative;
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid black;
	flex-direction: center;
	align-items: center;
}

.headerControl .portada .cajaLogo .center{
	display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.headerControl .portada .cajaLogo .center .logo{
	margin-right: 20px;
}

.headerControl .portada .cajaLogo .rigth{
	display: flex;
	position: absolute;
	right: 0px;
	top:0px;
	padding: 20px;
}

.headerControl .portada .cajaLogo .rigth .cajaImagen{
	width: 40px;
	height: 40px;
	margin-right: 20px;
	color: #fff;
}

.headerControl .portada .cajaLogo .rigth .cajaImagen img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}


.headerControl .portada .cajaLogo .rigth #cerrarSesion{
	margin-left: 20px;
	font-size: 30px;
	color: #fff;
}
.headerControl .portada .cajaLogo h1{
	font-size: 30px;
	text-align: center;

	
}
.headerControl .enlaces{
	margin-top: 1px;
	width: 100%;
	background: #333;

}
.headerControl .enlaces a{
	font-size: 20px;
	padding: 30px;
	text-decoration: none;
	display: inline-block;
	color:#fff;
}

.headerControl .enlaces a:hover{
	background: black;
	color:white;
}

section .cajaBienvenida{
	width: 100%;
	margin-top: 120px;
	background: #789185;
}

section .cajaBienvenida .bienvenida h2{
    font-size: 20px;
    padding: 20px;
	color:black;

}

section .cajaDeConfiguracion{
	width: 100%;
	display: flex;
	padding: 20px;
	margin-top: 20px;
}

section .cajaDeConfiguracion .listaConf{
	display: flex;
	flex-direction: column;
	width: 30%;

}

section .cajaDeConfiguracion .listaConf h1{
	font-size: 30px;
	margin-bottom: 30px;
}


section .cajaDeConfiguracion .listaConf a{
	box-shadow: 5px 5px 5px 5px grey;
	text-decoration:none;
	font-size: 20px;
	padding: 20px;
	color: black;
	margin-bottom: 15px;


}

section .cajaDeConfiguracion .listaConf a:hover{
	background: grey;
	color:black;
	box-shadow: 0px 0px 0px 2px grey;

}



/*Trabajamos sobre el archivo registroProducto.php*/
section .form{
	width: 40%;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-top: 110px;
	margin-bottom: 40px;
	background: #ededed;
	border:1px solid black;
	color:#333;
	padding: 25px;
	border-radius: 20px;
	box-shadow: 10px -10px 7px grey;
}

section .form .informacion{
	padding: 10px;
	text-align: center;
}

section .form .informacion h1{
	font-size: 30px;
	margin-bottom: 20px;
}

section .form .informacion p{
	margin-bottom: 20px;
	font-size: 15px;
}

section .form .cajaInputs{
	display: flex;
	flex-direction: column;
}

section .form .cajaInputs label{
	font-size: 20px;
}
section .form .cajaInputs input{
	width: 550px;
	height: 30px;
	font-size: 17px;
	margin-bottom: 20px;
}

section .form .cajaInputs textarea{
	min-width: 550px;
	max-height: 200px;
	min-width: 200px;
	max-width: 550px;
	font-size: 17px;
	margin-bottom: 20px;
}

section .form .cajaInputs #button{
	display: flex;
	justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid white;
	width: 100%;
	height: 45px;
	font-size: 20px;
	border-radius: 15px;
	background: #fff;
	color: black;
}

section .form .cajaInputs #button:hover{
	background: #333;
	color: white;
}

section .form .error{
	width: 500px;
	background: red;
	color: white;
	padding: 5px;
	margin-bottom: 10px;

}

section .form .mensajeExitoso{
	width: 500px;
	background: green;
	color: white;
	padding: 5px;
	margin-bottom: 10px;
}

/*Trabajamos sobre el archivo listaDeProductos.php*/

.separador{
	height: 54px;
}

.separadorControl{
	height: 150px;
}

section .listaDeProductos{
	padding: 40px;
} 

section .listaDeProductos .title{
	font-size: 20px;
	text-align: center;
	background: #ededed;
	padding: 10px;
}

section .listaDeProductos .encabezadoPrincipal{
	display: flex;
	background: #789185;
	color:white;
}

section .listaDeProductos .encabezadoPrincipal .encabezado{
	width: 20%;
	font-size: 25px;
	padding: 10px;
}

section .listaDeProductos .item{
	background: #ededed;
	display: flex;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

section .listaDeProductos .item .dato{
	width: 20%;
	padding: 10px;

}

section .listaDeProductos .item .funcionalidad{
	padding-left: 70px;
}

section .listaDeProductos .item .funcionalidad .refEliminar{
	text-decoration: none;
	color:red;
}

section .listaDeProductos .item .funcionalidad .refEditar{
	text-decoration: none;
	color:green;
}

section .listaDeProductos .item .cajaImagen{
	width: 60px;
	height: 60px;
}

section .listaDeProductos .item .cajaImagen img{
	width: 100%;
	height: 100%;
}

/*Trabajamos sobre el archivo eliminarProducto.php*/

section .form .informacion .registro .elemento{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 550px;
	height: 60px;
	margin-bottom: 10px;
	border-bottom:1px solid #fff;
	color:grey;
}


section .form .informacion .registro .elemento .label{
	width: 30%;
	color: #333;
}

section .form .informacion .registro .elemento .contenido{
	width: 70%;
}

section .form .informacion .registro .cajaImagen{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 10px;
}

section .form .informacion .registro .cajaImagen img{
	width: 100%;
	height: 100%;
}

section .form .informacion  h2{
	margin-bottom: 30px;
	font-size: 30px;
	padding: 15px;
	box-shadow: 5px 5px 5px 3px #333;
}


section .form .informacion .confirmacionOperacion{
	display: flex;
	margin: auto;

}

section .form .informacion .confirmacionOperacion #buttonEliminar{
	width: 550px;
	font-size: 20px;
	height: 50px;
	background: #ededed;
	color:black;
	border-radius: 20px;
	border:1px solid white;
}

section .form .informacion .confirmacionOperacion #buttonEliminar:hover{
	background: grey;
	color:black;
}

/*Trabajamos sobre el archivo editarProducto.php*/

section .form .cajaImagen{
	width: 200px;
	height: 200px;
	margin:auto;
	margin-top: 30px;
    margin-bottom: 30px;

}

section .form h2{
	margin-bottom: 30px;
	font-size: 30px;
	padding: 15px;
	box-shadow: 5px 5px 5px 3px #333;
	text-align: center;
}

section .form .cajaImagen img{
	width: 100%;
	height: 100%;
	border: 1px solid white;

}
section .form .cajaConfirmacion{
	display: flex;
	margin: auto;
}
section .form .cajaConfirmacion #buttonEditar{
	width: 500px;
	font-size: 20px;
	height: 50px;
	background: #ededed;
	color:black;
	border-radius: 20px;
	border:1px solid white;
}

section .form .cajaConfirmacion #buttonEditar:hover{
	background: grey;
	color:black;
}

/*Trabajamos sobre el user.php*/


section .formUsuario{
	width: 30%;
    height: 70%;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	align-items:center;
	flex-direction: column;
	background: #ededed;
	color: black;
	border-radius: 20px;
	text-align: center;
	border: 1px solid black;

}

section .formUsuario .errorUser{
	width: 300px;
	background: red;
	padding: 10px;
	color: white;
	border: 1px solid white;

}

section .formUsuario h2{
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
	box-shadow: 5px 5px 5px 2px #333;
	border-radius: 20px;
	padding: 15px;
}

section .formUsuario .cajaInputs{
	display: flex;
	flex-direction: column;
}

section .formUsuario .cajaInputs label{
	font-size: 25px;
	margin-bottom: 5px;
	margin-top: 20px;
}
section  .formUsuario .cajaInputs input{
	margin-bottom: 20px;
	width: 300px;
	font-size: 15px;
	height: 30px;
}

section .formUsuario .cajaInputs #buttonRegistro{
	width: 150px;
	color: white;
	height: 40px;
	background: black;
	border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 20px;
	border:1px solid black;
	margin:auto;
}

section .formUsuario .cajaInputs #buttonRegistro:hover{
	background: white;
	color: black;
}

/*Trabajamos sobre cambioPass.php*/

section .cajaDeConfiguracion .cajaFormulario{
	width: 70%;

}

section .cajaDeConfiguracion .cajaFormulario .formulario .inputPass{
	width: 350px;
	margin: auto;
}

section .cajaDeConfiguracion .cajaFormulario .formulario #cambiarPass{
	width: 350px;
	height: 50px;
	margin: auto;
}

section .cajaDeConfiguracion .cajaFormulario .formulario #cambiarPass:hover{
	background: grey;
	color: black;
}

section .cajaDeConfiguracion .cajaFormulario .formulario .errorPass{
	width: 350px;
	background: red;
	padding: 10px;
	color: white;
	border: 1px solid white;
	
}

section .cajaDeConfiguracion .cajaFormulario .formulario  .mensajeExitosoPass{
	width: 350px;
	background: green;
	color: white;
	padding: 10px;
	border:1px solid white;
}

/*Trabajamos sobre el cambioPerfil.php*/

section .cajaDeConfiguracion .cajaFormulario .formulario .cajaImagenPerfil{
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 10px;
}
 
section .cajaDeConfiguracion .cajaFormulario .formulario .cajaImagenPerfil img{
	width: 100%;
	border-radius: 20px;
}

section .cajaDeConfiguracion .cajaFormulario .formulario .item .inputFile{
	width: 300px;
	margin-bottom: 20px;
	margin-top: 30px;
	margin:auto;
}

section .cajaDeConfiguracion .cajaFormulario .formulario .item .inputUser{
	margin-bottom: 10px;
	width: 350px;
	margin:auto;
}


section .cajaDeConfiguracion .cajaFormulario .formulario .item .inputPass{
	margin-bottom: 10px;
	width: 350px;
	margin:auto;
}

section .cajaDeConfiguracion .cajaFormulario .formulario .error{
	width: 350px;

}

section .cajaDeConfiguracion .cajaFormulario .formulario .mensajeExitoso{
	width: 350px;
}

